body{
	background-color:#ADD8E6;
	width: 80%;
	margin:auto;
	text-align: center;
}

img{
    width:200px;
    height: 200px;
}

a{
	color:brown;
	font-weight: bold;
}

.contenedor{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elemento{
    width: 40%;
}

.decoracion{
	
	width: 50%;
	margin: auto;
	border: 2px dashed orangered;
	padding:2%;
}

 .decoracion img{
	width: 500px;
	height: 350px;
}

nav{
 margin-bottom: 10px;  
}
nav ul{
	width: 80%;
	margin: auto;
	background-color:#edc089;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	padding: 1%;
	font-weight: bolder;
}

nav ul a{
	text-decoration: none;
	color: red;
}
