{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/principal.css" type="text/css" rel="stylesheet">
    </head>

{% block title %}Principal{% endblock %}

{% block content %}
<div class="decoracion">
	<h3> Lo mejor para ti</h3>
	
	<img class="peluqueria" src="/static/img/peluqueria.jpg">
	
	<p><B>Podrás ver los peluqueros que trabajan tu género así como los servicios disponiblles para ti,
		además podrás concentar una cita con tu peluquero favorito</B>
	</p>
</div>
    
{% endblock %}